.icon{
    color: #aa1712;
}



.ceo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ceo-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .ceo-info {
    text-align: center;
  }
  
  .ceo-info h6 {
    font-size: 14px;
    letter-spacing: 2px;
  }
  
  .ceo-info h1 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .ceo-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ceo-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  
  .icon {
    font-size: 28px;
  }
  
  .bg-light {
    background-color: #f8f9fa;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  @media (max-width: 768px) {
    .col-md-4,
    .col-md-6 {
      margin-bottom: 15px;
    }
  }


  /* seriveces card */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 320px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.card::before,
.card::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.card::before {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.3s;
}

.card::after {
    z-index: 2;
}

.card:hover::before,
.card:hover::after {
    opacity: 1;
}

.card:hover::before {
    background-color: rgba(255, 0, 0, 0.6);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}


.card-logo {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Adjust the width as needed */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

.card-logo i {
  margin-bottom: 60%;
  font-size: 100px; /* Adjust the font-size as needed */
  color: white;
}



.card:hover .card-logo {
    opacity: 1;
    pointer-events: auto;
}

.card-logo img {
    width: 100px;
    height: 100px;
}

/* get a quote */

.esitmate{
  display: flex;
}
.esitmate img{
height: 200px;
border-right: 2px solid grey;
padding: 10px;
}
.est_details {
  padding: 10px;
}
 .quote-box {
  z-index: 999;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  background-color: #EDF1FC;
  border-radius: 20px 20px 0 0 ;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
margin: auto;
}

.quote-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -80px; /* To center the input and button vertically */
}

.inputquote {
  margin-bottom: 10px;
}
.cancel_btn{
position: absolute;
right: 10px;
top: 0px;
font-size: 30px;
cursor: pointer;
}

.quote-form input {
  padding: 10px 20px; /* Increased padding for a bigger input box */
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.get-quote-btn {
  background-color: #aa1712;
  color: #fff;
  padding: 12px 25px; /* Adjusted padding for a bigger button */
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.get-quote-btn:hover {
  background-color: #850f0c;
}

.whatsapp-contact img {
  margin-top: -100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.emailwhatsapp{
  margin-left: 180px;
  display: flex;
}



  /* <!-- green display --> */


  .cardd-container {
    display: flex;
    justify-content: center;
  }

  .ccardd {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    margin-right: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .ccardd:hover {
    border-radius: 12px;
  }

  @media (max-width: 600px) {
    .cardd-container {
      flex-wrap: wrap;
    }

    .ccardd {
      margin-bottom: 10px;
    }
  }






  /* mission images */
  .mission {
    position: relative;
    max-width: 100%;
}
.mission::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mission-img-container {
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
}

.mission-img {
    width: 100vw;
height: 100%;
object-fit: cover;
    display: block;
    border-radius: 8px; 
}

.mission-content {
    position: absolute;
    top: 55%;
    left: 34%;
    transform: translate(-70%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    margin-top: -100px;
}

.mission-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
    color: 7a6d6d;
    
}
.added_book{
  margin-top: -80px;
}


.content-box {
    padding: 20px;
    border-radius: 8px;
}

.mission-paragraph {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
    max-width: 500px;
    align-items: center;
    justify-content: center;
}

.core-values-btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 10px auto; /* Center the button horizontally */
  text-align: center;
  transition: background-color 0.3s, color 0.3s; /* Add a transition effect for smooth animation */

}

.core-values-btn:hover {
  background-color: rgb(186, 5, 5);
  color: #8f7373; 
}



@media (max-width:786px) {

  .imageOfCarousel {
    min-height: 100vh;
    width: auto;
    object-fit: cover;
}

.buttons_change {
  display: flex;
  margin-top: 50px;
}

.buttons_change h5 {
  font-size: 15px;
}
.container1{
  height: 100vh;
  background: red;
}


.container2 {
flex-direction: column;
height: 100vh;
background: red;

}
.get-quote-button{
  max-width: 70%;
}
.container2 > div {
  height: 33.3%;
 }
 .sub1{
  font-size: 15px;
}


.esitmate img{
  height: 50px;

}

.quote-box{
  margin-top: 0;
}
.est_details h1{
  font-size: 16px;
}
.est_details p{
  display: none;
}
.mission-img{
  display: none;
}

.mission-content {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    text-align: center;
    color: white;
    margin-top: 0;
}

.mission-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color for the box */
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
}

.mission-paragraph {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
}
.cardd-container{
  text-align: center;
}
.ccardd img{
  width: 90vw;

}
.about_logo{
  width:90vw;
}
.about_title{
  font-size: 25px;
}
.hide_in_phone{
  display: none;
}
.img_logo{
  display: none;
}
}




/* footer design
.fusemission{
  margin-top: -250px;
  z-index: 99999;
} */